<div class="container">
  <h1 id="typography">
    Typography
  </h1>

  <hr>
  <h3>
    Headings
  </h3>

  <h1>A 48px Bold heading</h1>

  <h2>A 36px Bold heading</h2>

  <h3>A 24px Bold heading</h3>

  <h4>A 19px Bold heading</h4>

  <hr>
  <h3>
    Lead paragraph
  </h3>

  <p class="lead">
    A 24px lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
  </p>

  <p>
    A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
  </p>

  <hr>
  <h3>
    Body copy
  </h3>

  <p>
    A 19px body copy paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
  </p>

  <p><small>
    A 16px supporting text paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
  </small></p>

  <hr>
  <h3>Links</h3>

  <p>
    <a>A 19px link without surrounding text</a>
  </p>

  <p>
    <a>A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  </p>

  <p>
    <a rel="external">A 19px body copy external link. <i class="fa fa-external-link"></i></a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  </p>


  <small><a class="link-back"><i class="fa fa-caret-left"></i> Back</a></small>

  <hr>
  <h3>Lists</h3>
  <p>
    List items start with a lowercase letter and have no full stop at the end.
  </p>

  <ul>
    <li>here is a bulleted list</li>
    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
    <li>vestibulum id ligula porta felis euismod semper</li>
    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  </ul>

  <ol>
    <li>here is a numbered list</li>
    <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
    <li>vestibulum id ligula porta felis euismod semper</li>
    <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
  </ol>

  <ul>
    <li><a>Related link</a></li>
    <li><a>Related link</a></li>
    <li><a>Related link</a></li>
    <li><a>More</a></li>
  </ul>

  <hr>
  <h3>Inset text</h3>
  <blockquote>
    <p>
      Use bordered inset text to draw attention to important content on the page.
    </p>
  </blockquote>

  <hr>
  <h3>Legal Text</h3>
  <p>Use bold text with an exclamation icon if there are legal consequences - for example, a fine or prison sentence.</p>

  <p>
    <i class="fa fa-exclamation-circle fa-fw fa-2x" style="vertical-align: middle;"></i>
    <strong>
      You can be fined up to £5,000 if you don’t register.
    </strong>
  </p>

  <h1 id="colour">Colour palette</h1>

  <p class="bg-primary" style="padding: 10px;">Primary</p>
  <p class="bg-success" style="padding: 10px;">Success</p>
  <p class="bg-info" style="padding: 10px;">Info</p>
  <p class="bg-warning" style="padding: 10px;">Warning</p>
  <p class="bg-danger" style="padding: 10px;">Danger</p>

  <p class="text-primary">Primary</p>
  <p class="text-success">Success</p>
  <p class="text-info">Info</p>
  <p class="text-warning">Warning</p>
  <p class="text-danger">Danger</p>

  <h1 id="buttons">Buttons</h1>

  <h3>Standard Buttons</h3>

  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-info">Info</button>

  <h3>Start Button</h3>

  <button type="button" class="btn btn-success btn-lg">Start now <i class="fa fa-chevron-right fa-fw"></i></button>

  <br/>
  <br/>
</div>
