@import "palette";

body {
  background: $page-colour;
  color: $text-colour;
}

a:link {
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:focus {
  background-color: $focus-colour;
}

a:visited {
  color: $link-visited-colour;
}
blockquote {
  border-color: $border-colour;
}
hr {
  background: $border-colour;
}
body > .container {
  border-top: 10px solid $govuk-blue;
}
footer {
  border-top: 10px solid $govuk-blue;
  background-color: $panel-colour;
}
.navbar-inverse {
  background-color: $black;
  border-color: $black;
}
.navbar-brand {
  color: #ffffff !important;
}
footer a {
  color: #454a4c;
}
.btn {
  color: $white;
}
.btn-success {
  background-color: $button-colour;
  box-shadow: 0 2px 0 $green;
  border-color: $button-colour;
}
.btn-success:hover {
  background-color: $green;
}
.btn-primary {
  background-color: $govuk-blue;
  border-color: $govuk-blue;
}
.btn-danger {
  background-color: $error-colour;
}
