@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import "palette";

div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark {
    border: none;
    margin: 0;
    padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  margin: 0;
  background: $page-colour;
  color: $text-colour;
}

h1 {
  font-size: 48px;
  margin-top: 1.25em;
  margin-bottom: 0.625em;
  line-height: 1.0416666667;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  margin-top: 1.25em;
  margin-bottom: 0.5555555556em;
  line-height: 1.1111111111;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  margin-top: 1.875em;
  margin-bottom: 0.8333333333em;
  line-height: 1.25;
  font-weight: 700;
}
h4 {
  font-size: 19px;
  margin-top: 1.0526315789em;
  margin-bottom: 0.3125em;
  line-height: 1.3157894737;
  font-weight: 700;
}
p {
  font-size: 19px;
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
  font-weight: normal;
}
p.lead {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
}
small {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  margin-top: 0.2631578947em;
  margin-bottom: 1.0526315789em;
}
a {
  text-decoration: underline;
}
ul, ol {
  margin-bottom: 20px;
  padding-left: 20px;
  margin-top: 5px;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
li {
  margin-bottom: 5px;
}
blockquote {
  border-left-width: 10px;
  clear: both;
  border-left-style: solid;
  padding: 0.7894736842em;
  margin-bottom: 0.7894736842em;
  border-color: $border-colour;
}
hr {
  display: block;
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  background: $border-colour;
}
mark {
  font-style: normal;
  color: #0076c0;
}
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
}
.form-control {
  font-size: 16px;
  line-height: 1.4375;
  font-weight: 400;
  padding: 6px;
  color: black;
}
footer {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}
footer h2 {
  padding: 0 0 20px;
  border-bottom: 1px solid #bfc1c3;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #171819;
}
.navbar-brand {
  text-decoration: none;
}
a:link {
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
}

a:focus {
  background-color: $focus-colour;
}
a:visited {
  color: $link-visited-colour;
}
